html {
  font-weight: 400;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
  margin: auto;
  font-size: 13px;
  overflow-x: auto;
  overflow-y: auto;
}

a {
 color: #2b6dad;
 text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #2b6dad;
}

.mute-link {
  color: rgba(175,175,175,0.95) !important;
  text-decoration: none  !important;
}

a.mute-link:hover {
  text-decoration: underline !important;
}

.darken-link-bg-hover:hover {
  background: rgba(0,0,0,0.02);
}

.quora-logo {
    width: 224px;
    height: 140px;
    background-size: 224px 63px;
    background-image: url(//qsf.ec.quoracdn.net/-3-images.logo.wordmark_default.svg-26-32753849bf197b54.svg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 82px;
    position: relative;
}

.hidden {
  display: none;
}

.gray-input > input {
  background-color: #EEE !important;
}

.danger-input > input {
  color: #ed6c63;
}

.danger-input > i {
  color: red !important;
}

.google-button {
  background-color: #df4930;
  color: #FFFFFF !important;
  width: 100%;
  text-align: center;
}

.google-button:before {
    width: 24px;
    height: 20px;
    position: absolute;
    left: 40px;
    content: " ";
    background-size: 24px 24px;
    background-image: url('https://qsf.ec.quoracdn.net/-3-images.new_grid.google_white_inverted.png-26-670d69498a8d7f29.png');
}

.facebook-button {
  background-color: #507cc0;
  color: #FFFFFF !important;
  width: 100%;
  text-align: center;
}

.facebook-button:before {
    width: 24px;
    height: 20px;
    position: absolute;
    left: 40px;
    content: " ";
    background-size: 24px 24px;
    background-image: url('https://qsf.ec.quoracdn.net/-3-images.new_grid.facebook_inverted.png-26-0bfdad0d507fd9cb.png');
}

.submit-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
    display: inline-block;
    font-weight: 500;
    outline: 0;
    padding: 3px 7px 4px 7px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 16px;
    font-size: 16px;
    padding: 13px 16px;
    width: : 100%;
}

.submit-button:hover {
  opacity: 0.4;
  transition: opacity 0.2s;
  text-decoration: none;
}
